extends ./nav-user.pug
block nav
    section.container
      h2.center.subtitle Encuentra a un Alumno
      .row
        .col-sm-12.col-md-4.offset-md-4
          form(action="/admin/edit", method="POST")
            input.form-control(type="text", name="numero", placeholder="Ingresa el número de control del alumno")
            input.btn(type="submit", value="Enviar") 