doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Inglés
    link(rel='stylesheet', href='../css/index.css')
    link(rel="stylesheet", href="../css/admin.css")
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    <link rel="apple-touch-icon" sizes="57x57" href="../image/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../image/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../image/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../image/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../image/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../image/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../image/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../image/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../image/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../image/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../image/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../image/iconfavicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../image/icon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff"> 
  body
    nav.navbar.navbar
      img.num.img.tecnm(src='../image/LOGO-TecNM.png', alt='img del TecNM')
      img.img.tecnm.itc(src='../image/itcuautla.png', alt='img del itc')
      ul.nav.justify-content-end
        li.nav-item
          a.nav-link.active(href='/admin') Inicio
        li.nav-item
          a.nav-link.active(href='carrera') Carrera
        li.nav-item
          a.nav-link.active(href='semestre') Semestre
        li.nav-item
          a.nav-link.active(href='cerrar') Cerrar sesión
    section.container
        .row
            .col-sm-12.col-md-4.offset-md-4
                .form-group
                    form(action="carrera/find", method="POST")
                        input.form-control(list='browsers', name='carrera', placeholder="Ingresa tu carrera")

                        datalist#browsers
                          option(value='ing. sistemas Computacionales')
                          option(value='ing. mecatrónica')
                          option(value='ing. electrónica')
                          option(value='ing. gestion empresarial')
                          option(value='contador público')
                          option(value='ing. 0industrial')

                        input.btn.btn-success.btn-responsive(type="submit",value="buscar")
    section.container
        .row
            .col-sm-12.col-md-5
