doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    link(rel='stylesheet', href='./css/index.css')
    link(rel='stylesheet', href='./css/section.css')
    title Registro
  body
    nav.navbar.navbar
      img.img.tecnm(src='./LOGO-TecNM.png', alt='img del Tec')
      img.img.tecnm.itc(src='./itcuautla.png', alt='')
      ul.nav.justify-content-end
        li.nav-item
          a.nav-link.active(href='/') Inicio
        li.nav-item
          a.nav-link.active(href='form') Registro
        li.nav-item
          a.nav-link.active(href='') Curso
    section.section
      h1.center.title Mapa modular
      article.container
        .row
          .col-sm-12.col-md-10.offset-md-1
            table.table
              thead
                tr
                th Nivel
                th Nivel MCER
                th Número por horas del Curso
                th Estudiantes del ITC
                th Estudiantes Externos
              tbody
                tr
                th Básico 1
                td A1
                td 45
                td $600
                td $1000
                tr
                th Básico 2
                td A1
                td 45
                td $600
                td $1000
                tr
                th Básico 3
                td A1
                td 45
                td $600
                td $1000
                tr
                th Básico 4
                td A2
                td 45
                td $600
                td $1000
                tr
                th Básico 5
                td A2
                td 45
                td $600
                td $1000
                tr
                th Intermedio 1
                td B1
                td 45
                td $600
                td $1000
                tr
                th Intermedio 2
                td A1
                td 45
                td $600
                td $1000
                tr
                th Intermedio 3
                td A1
                td 45
                td $600
                td $1000
                tr
                th Intermedio 4
                td A1
                td 45
                td $600
                td $1000
                tr
                th Intermedio 5
                td A1
                td 45
                td $600
                td $1000
          .description
            p.center Con el objetivo de mejorar los servicios que ofrece la Coordinación de Lenguas Extranjeras del Instituto Técnologico de Cuautla, me permito enviar el mapa modular con costos, con la finalidad que el recibo oficial que expide incluya el nivel que cursará el estudiante
             footer.footer
              .container
                .row
                  .col-sm-12.col-md-5
                      h4 Horario de atención 
                      p De lunes a viernes de 10:00 a 15:00 y de 16:00 a 18:00 hrs
                      p Sábado de 9:00 a 13:00 hrs
                      p Tel. 7351282454
                      p Correo. coord.ingles@itcuautla.edu.mx   