extends ./nav.pug
block nav
    section
      article.container
        .row
          .col-sm-12.col-md-12
            h1.center.title
              | Curso de Inglés
    footer.footer
      .container
        .row
          .col-sm-12.col-md-4
            .card
              .card-body
                h4.card-title Horario de atención
                p.card-text De lunes a viernes de 10:00 a 15:00 y de 16:00 a 18:00 hrs
                p Sábado de 9:00 a 13:00 hrs
          .col-sm-12.col-md-4
            .card
              .card-body
                h4.card-title.card-phone Número de contacto
                p.card-phone.phone  Tel. 7351282454 
                  i.fab.fa-whatsapp
          .col-sm-12.col-md-4
            .card
              .card-body
                h4.card-title Correo electronico        
                p.parrafo Correo: coord.ingles@itcuautla.edu.mx
                 