doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Inglés
    link(rel='stylesheet', href='./css/index.css')
    link(rel="stylesheet", href="./css/footer.css")
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
  body
    nav.navbar.navbar
      img.img.tecnm(src='LOGO-TecNM.png', alt='img del Tec')
      img.img.tecnm.itc(src='itcuautla.png', alt='')
      ul.nav.justify-content-end
        li.nav-item
          a.nav-link.active(href='/') Inicio
        li.nav-item
          a.nav-link.active(href='/form') Registro
        li.nav-item
          a.nav-link.active(href='/curso') Curso
    section
      article.container
        .row
          .col-sm-12.col-md-7
            h1.center.title
              | Curso de Inglés
        div
    footer.footer
       .container
        .row
          .col-sm-12.col-md-5
              h4 Horario de atención 
              p De lunes a viernes de 10:00 a 15:00 y de 16:00 a 18:00 hrs
              p Sábado de 9:00 a 13:00 hrs
              p Tel. 7351282454
              p Correo. coord.ingles@itcuautla.edu.mx
