extends ./nav.pug
block nav
    section
      article.container
        .row
          .col-sm-12.col-md-7
            h1.center.title
              | Curso de Inglés
        div
    footer.footer
      .container
        .row
          .col-sm-12.col-md-5
              h4 Horario de atención 
              p De lunes a viernes de 10:00 a 15:00 y de 16:00 a 18:00 hrs
              p Sábado de 9:00 a 13:00 hrs
              p Tel. 7351282454
              p Correo. coord.ingles@itcuautla.edu.mx
