extends ./nav.pug
block nav
    section
        .container
            .row
                .col-sm-12.col-md-5.offset-md-3
                    .form-group
                        form(action="/login", method="POST")
                         input#email.form-control(type='email', name='email', placeholder='Ingresa tu email', required='')
                         input#pass.form-control(type='password', name='password', placeholder='Ingresa tu contraseña', required='')
                         input#btn.btn.btn-info(type='submit', value='Iniciar Sesión')


