
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    margin:25px 0 60px 0;
}
.img{
    max-width:15%;

}
.tecnm{
    margin-top: 15px;
    max-width: 30%;
}
.itc{
    max-width:11%;
}

.navbar{
    border:solid goldenrod 4px;
}

i{
    margin-left: 8px;
    font-size: 1.8em;
}
td{
    text-align: center;
}
.fa-whatsapp{
    color:green;
}
.fas.fa-at{
    color:#1E48F2;
}
i.far.fa-clock {
    font-size: 1.2em;
   padding-bottom: 20px;
   padding-left: 10px;
}
.card-title{
    margin-bottom: 1em;
}
.parrafo{
    padding-bottom: 30px;
}

.footer{
    margin:50px 0 30px 0;
}
.card-phone{
    text-align: center;
}
.phone{
    padding-bottom: 57px;
}
.fontPer{
    font-family: 'Margarine', cursive;
}
.container{
    margin-top: 50px;
}

.description{
margin-top: 30px;
line-height: 29px;
}

.state{
    padding: 0 0 0.5em 0; 
}
.fa-envelope{
    font-size: 12px;
}

.disable{
    width:100px ;
    height:100px;
    background-color:#8C8C8C;
 
}
.main{
    display: flex;
    justify-content: center; 
}
#carouselExampleIndicators{
    max-width:50%;
}

@media(max-width:770px){
    .itc, .tecnm{
        display: none;
    }
    .navbar{
        border:none;
    }
    .card{
        margin-top: 20px;
    }
}