.section{
    margin-top: 5%;
}
.center{
    text-align: center;
}
.title{
    margin-bottom: 30px;
}
td{
    text-align: center;
}
.description{
    border-top:solid 1px grey;
    padding-top: 15px;
    padding-top: 10px;
}
.footer{
    margin-top: 50px;
}
